<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @products_group.name %>
</p>

<p>
  <strong>Number group:</strong>
  <%= @products_group.number_group %>
</p>

<%= link_to 'Edit', edit_products_group_path(@products_group) %> |
<%= link_to 'Back', products_groups_path %>
